.custom-logo {
  .site-meta-headline { text-align: center; }

  .brand { background: none; }

  .site-title {
    margin: 10px auto 0;
    font-size: 37px;
    color: black;
    a { border: none; }
  }


}

.custom-logo-image {
  margin: 0 auto;
  padding: auto;
  max-width: auto;
  background: white;
}
